/* prettier-ignore */
:root {
  /* taken from https://myanimelist.net/profile/vazae */
  --mal-green-color:  #2db039;
  --mal-blue-color:   #26448f;
  --mal-yellow-color: #f9d457;
  --mal-red-color:    #a12f31;
  --mal-grey-color:   #c3c3c3;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.watching {
  background-color: var(--mal-green-color);
}
.completed {
  background-color: var(--mal-blue-color);
}
.on_hold {
  background-color: var(--mal-yellow-color);
}
.dropped {
  background-color: var(--mal-red-color);
}
.plan_to_watch {
  background-color: var(--mal-grey-color);
}

/* ==================================================================
    COLUMNS
================================================================== */

@media (max-width: 940px) {
  .franklin-content div.outer {
    clear: both;
    float: left;
    text-align: left;
  }
  .franklin-content div.full {
    width: 100% !important;
  }
}

@media (max-width: 760px) {
  .franklin-content div.inner {
    clear: both;
    float: left;
    text-align: left;
  }
  .franklin-content .pad-left {
    margin-left: 2rem;
  }
}

.width-44 {
  width: 44%;
}
.width-45 {
  width: 45%;
}
.width-48 {
  width: 48%;
}
.width-50 {
  width: 50%;
}
.width-52 {
  width: 52%;
}
