:root {
  /* taken from https://myanimelist.net/profile/vazae */
  --mal-green-color:  #2db039;
  --mal-blue-color:   #26448f;
  --mal-yellow-color: #f9d457;
  --mal-red-color:    #a12f31;
  --mal-grey-color:   #c3c3c3;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.watching      {background-color: var(--mal-green-color)}
.completed     {background-color: var(--mal-blue-color)}
.on_hold       {background-color: var(--mal-yellow-color)}
.dropped       {background-color: var(--mal-red-color)}
.plan_to_watch {background-color: var(--mal-grey-color)}

/* ==================================================================
    STATISTICS GRAPH
================================================================== */

.stats-graph span {display: inline-block; height: var(--font-size-normal);}

.clean-table table { margin-bottom: 0 }

figure { margin: 0 }

.franklin-content .img-full img {
  width: 100%;
  height: 100%;
  margin-left: 0%;
  text-align: center;
}

@media (max-width: 940px) {
  .franklin-content div.outer  { width: 100% !important; }
  .franklin-content div.grid   { clear: both; float: left; }
}

/* ==================================================================
    FAVORITES
================================================================== */

.bottom-margin { margin-bottom: 1rem; }

.favorites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--font-size-normal);
}

.anime-title {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0;
  font-size: 0.75rem;
  line-height: 1rem;
  max-height: 3rem;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  left: 1px;
  bottom: 1px;
  padding: 0.1rem;
  width: max-content;
  max-width: calc(99px - 0.1rem);
  opacity: 0;
}

.favorites img {
  border: var(--rule);
  z-index: -1;
  position: relative;
}

.favorites a {
  width: 102px;
  height: 152px;
  position: relative;
}

.favorites a:hover {
  box-shadow:
    0 2px  5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.favorites a:hover .anime-title {
  /* box-shadow: inset 0px -20px 50px 0px rgba(0, 0, 0, 1); */
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* ==================================================================
    ANIMELIST
================================================================== */

.animelist th.status { border-right-style: none; }
.animelist th.number { border-left-style: none; }

.animelist .status   { min-width: 0.25rem; padding: 0; }
.animelist .number   { text-align: right;  }
.animelist .title    { text-align: left;   }
.animelist .score    { text-align: center; }
.animelist .type     { text-align: center; }
.animelist .progress { text-align: right;  }

.animelist td.number,
.animelist td.score,
.animelist td.progress {
  font-family: var(--monospace);
  /* font-size: 0.75rem; */
  font-size: 0.875rem;
  padding: 0 0.5rem 0 0.5rem;
  line-height: 0;
}

.animelist td.title,
.animelist td.type  {
  /* font-size: 0.875rem; */
  font-size: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  line-height: 1.3;
}

.animelist td.title a {
  text-decoration: none;
}

.animelist td.title a:hover {
  text-decoration: underline;
}

